.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  width: 60%;
  color: #b8c2ce;
}

.navbar-btn {
  background-color: #b8c2ce;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px;
}
