.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  width: 60%;
}
